name: Typos

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  typos:
    name: Check for typos
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Check for typos
        uses: crate-ci/typos@v1.26.8
        with:
          config: ./.typos.toml
